<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Home.Pi</title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link href="bower_components/ionic/dist/css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/4c809931.main.css"/>
      
  </head>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
   <body ng-app="homepi">

    <!-- Our navigation router with some animations set -->
    <pane nav-router="" animation="slide-left-right-ios7">
      <!-- The nav bar that will be updated as we navigate -->
      <nav-bar class="nav-title-slide-ios7" type="bar-dark" back-button-type="button-icon" back-button-icon="icon ion-arrow-left-c"></nav-bar>

      <!-- where the content of each page will be rendered -->
      <ng-view></ng-view>
    </pane>

    <script src="scripts/f620719d.modules.js"></script>

    <script src="scripts/ee843111.scripts.js"></script>
  </body>
</html>