<ion-view title="Home.Pi">

    <ion-header-bar class="bar-positive">
    </ion-header-bar>

    <ion-content>

      <ion-list>

        <ion-toggle ng-repeat="device in devices | orderByPriority | filter:'on_off'"
                    ng-model="device.value"
                    ng-checked="device.value"
                    ng-change="change(device)">
          <i class="icon ion-ios7-lightbulb-outline"></i>
          {{ device.name }}
        </ion-toggle>

        <div class="item range range-energized" ng-repeat="device in devices | orderByPriority | filter:'dimmer'">
            <i class="icon ion-ios7-lightbulb-outline"></i>
            {{ device.name }}
            <input type="range" name="volume" min="0" max="100" ng-model="device.value" ng-change="change(device)">
            <i class="icon ion-ios7-lightbulb"></i>
        </div>

        <div class="item range range-assertive" ng-repeat="device in devices | orderByPriority | filter:'thermostat'">
            <i class="icon ion-ios7-lightbulb-outline"></i>
            {{ device.name }}
            <input type="range" name="volume" min="15" max="25" ng-model="device.value" ng-change="change(device)">
            <i class="icon ion-ios7-lightbulb"></i>
        </div>

      </ion-list>

    </ion-content>
</ion-view>
